.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: rgb(3, 3, 39);
}

.header .left_header {
    margin-left: 200px;
}

.header .right_header {
    display: flex;
    gap: 20px;
    margin-right: 200px;
}

.header h1 {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header a {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
